{% extends "layout.html" %}
{% block body %}


<div id="search">
<img draggable="false" src={{ url_for('static', filename='assets/images/dota.png') }} width="300">
	<form method="get" id="q">
		<input class="form-control" name="q" id="q_text" type="text" placeholder="Vanity name only!">
	</form>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span class="sr-only">
    </span>
  </div>

</div>
<div style="text-align:center;"> DotA 2 match history is currently being indexed. All requests are currently routed directly to Valve's API.</div>




{% endblock %}