{% extends "layout.html" %}
{% block body %}

<div style="margin-top: 0px;" class="page-header">
  <h1 style="margin-top: 0px;">Match <small>{{match.match_id}}</small></h1>
</div>



<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th>Player</th>
			<th>Hero</th>
			<th>Level</th>
			<th>K</th>
			<th>D</th>
			<th>A</th>
			<th>LH</th>
			<th>DN</th>
			<th>Gold</th>
			<th>XPM</th>
			<th>GPM</th>
			<th>HD</th>
			<th>HH</th>
			<th>TD</th>
			<th>Items</th>
			<th>Salt Meter</th>
		</tr>
	</thead>

	<tbody>
		{% for player in match.players %}
		<tr>
			<td class="account_id">
			{% if player.account_id == 4294967295 %}
				{{player.name}}
			{% else %}
				<a href="/players/{{player.account_id}}">{{player.name}}</a>
			{% endif %}
			</td>
			<td><i class="d2mh hero-{{player.hero_id}}"></i></td>
			<td class="2d">{{player.level}}</td>
			<td class="2d">{{player.kills}}</td>
			<td id="2d">{{player.deaths}}</td>
			<td id="2d">{{player.assists}}</td>
			<td id="2d">{{player.last_hits}}</td>
			<td id="2d">{{player.denies}}</td>
			<td>{{player.gold}}</td>
			<td>{{player.xp_per_min}}</td>
			<td>{{player.gold_per_min}}</td>
			<td>{{player.hero_damage}}</td>
			<td>{{player.hero_healing}}</td>
			<td>{{player.tower_damage}}</td>
			<td><img width=40 src="{{ items[player.item_0 | string] }}">
			<img width=40  src="{{ items[player.item_1 | string] }}">
			<img width=40  src="{{ items[player.item_2 | string] }}">
			<img width=40  src="{{ items[player.item_3 | string] }}">
			<img width=40  src="{{ items[player.item_4 | string] }}">
			<img width=40  src="{{ items[player.item_5 | string] }}"></td>
			<td>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{player.salt}}" aria-valuemin="0" aria-valuemax="100" style="width: {{player.salt}}%;">
    <span class="sr-only">{{player.salt}}% Complete</span>
  </div>
</div>
{{player.salt}}
			</td>
		</tr>

		{% endfor %}
	</tbody>

</table>

<script>
	$('td #account_id').html(function(i, html){
		var regex = /4294967295/g
		
		if (regex.test(html)) {
			$(this).html( $(this).html().replaceWith("<span class='c2'>abc</span>") );
		}
		else {
			$(this).html( $(this).html().replaceWith("<span class='c2'>abcff</span>") );
		}
	});
</script>

{% endblock %}