<!doctype html>
<html>

<head>
<title>dotasalt</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type=text/css href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='assets/stylesheets/dota2minimapheroes.css') }}">


<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>
{% block body %}{% endblock %}

</html>


