{% extends "layout.html" %}
{% block body %}

<h3>
    <a href="/">dotasalt</a> > <a href="/matches/">matches</a> > match {{match.match_id}}
</h3>


<table class="pure-table">
<thead>
  <tr>
    <th>account_id</th>
    <th>Hero</th>
    <th>Level</th>
    <th>K</th>
    <th>D</th>
    <th>A</th>
    <th>LH</th>
    <th>DN</th>
    <th>Gold</th>
    <th>XPM</th>
    <th>GPM</th>
    <th>HD</th>
    <th>HH</th>
    <th>TD</th>
    <th>Items</th>
  </tr>
  </thead>

<tbody>
  {% for player in match.players %}
  	<tr>
  	<td><a href="/players/{{player.account_id}}">{{player.account_id}}</a></td>
  	<td><i class="d2mh hero-{{player.hero_id}}"></i></td>
  	<td>{{player.level}}</td>
  	<td>{{player.kills}}</td>
  	<td>{{player.deaths}}</td>
  	<td>{{player.assists}}</td>
  	<td>{{player.last_hits}}</td>
  	<td>{{player.denies}}</td>
  	<td>{{player.gold}}</td>
  	<td>{{player.xp_per_min}}</td>
  	<td>{{player.gold_per_min}}</td>
  	<td>{{player.hero_damage}}</td>
  	<td>{{player.hero_healing}}</td>
  	<td>{{player.tower_damage}}</td>
  	<td>{{player.item_0}}|{{player.item_1}}|{{player.item_2}}|{{player.item_3}}|{{player.item_4}}|{{player.item_5}}</td>
  	</tr>
  {% endfor %}
</tbody>
</div>

<script>

$('td').html(function(i, html){
  return html.replace(/4294967295/g, 'private'); 
});
</script>

{% endblock %}