{% extends "player.html" %}

{% block content %}

<ul class="nav nav-tabs" role="tablist">
  <li><a href="{{url_for('show_player', account_id=player.steamid)}}">Overview</a></li>
  <li class="active"><a href="matches/">Matches</a></li>
  <li class="disabled"><a href="#">Heroes</a></li>
  <li class="disabled"><a href="#">Items</a></li>
</ul>


<table class="table">
<thead>
  <tr>
    <th>match_id</th>
    <th>match_seq_num</th>
    <th>start_time</th>
    <th>lobby_type</th>
  </tr>
  </thead>

<tbody>
  {% for match in matches %}
  	<tr>
  	<td><a href="/matches/{{match.match_id}}">{{ match.match_id }}</a></td>
  	<td>{{match.match_seq_num}}</td>
  	<td>{{match.start_time}}</td>
  	<td>{{match.lobby_type}}</td>
  	</tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}