{% extends "layout.html" %}
{% block body %}
<ul id="breadcrumbs">
  <li ><a href="/">DOTASALT</a></li>
  <li ><a href="/players/">Players</a></li>
  <li><a>Player x</a></li>
  <li ><a href="/players/">Matches</a></li>
</ul>
    
<table class="pure-table">
<thead>
  <tr>
    <th>match_id</th>
    <th>match_seq_num</th>
    <th>start_time</th>
    <th>lobby_type</th>
  </tr>
  </thead>

<tbody>
  {% for match in matches %}
  	<tr>
  	<td><a href="/matches/{{match.match_id}}">{{ match.match_id }}</a></td>
  	<td>{{match.match_seq_num}}</td>
  	<td>{{match.start_time}}</td>
  	<td>{{match.lobby_type}}</td>
  	</tr>
  {% endfor %}
  </tbody>
</table>

<script>
$('td').html(function(i, html){
  return html.replace(/abc/g, '<span class="c2">abc</span>'); 
});
</script>

{% endblock %}