{% extends "layout.html" %}
{% block body %}

<div style="margin-top: 0px;" class="page-header">
  <h1 style="margin-top: 0px;">Matches <small>Last {{matches.num_results}} matches</small></h1>
</div>

<table class="table table-striped table-condensed">
<thead>
  <tr>
    <th>match_id</th>
    <th>match_seq_num</th>
    <th>start_time</th>
    <th>lobby_type</th>
  </tr>
  </thead>

<tbody>
  {% for match in matches.matches %}
  	<tr>
  	<td><a href="/matches/{{match.match_id}}">{{ match.match_id }}</a></td>
  	<td>{{match.match_seq_num}}</td>
  	<td>{{match.start_time}}</td>
  	<td>{{match.lobby_type}}</td>
  	</tr>
  {% endfor %}
  </tbody>
</table>

<script>
$('td').html(function(i, html){
  return html.replace(/abc/g, '<span class="c2">abc</span>'); 
});
</script>

{% endblock %}